<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the DITA-OT Splash Screen Plug-in project.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.splash" version="3.0.0">

	<param name="splash.source" desc="Which image source to use" type="enum">
    <val>cats</val>
    <val>dogs</val>
    <val>xkcd</val>
    <val>anime</val>
    <val>picsum</val>
  </param>
	<feature extension="depend.preprocess.pre" value="random.splash"/>

	<!-- Import the overrides transform's ANT file -->
	<feature extension="dita.conductor.lib.import" file="lib/splash-2.1.jar"/>
	<feature extension="ant.import" file="build_dita2splash.xml"/>
	<!-- Ensure the plugin's error and logging messages are available -->
	<feature extension="dita.xsl.messages" file="resource/messages.xml"/>

	<transtype
    abstract="false"
    desc="Display a splash screen"
    name="splash"
  />

</plugin>
